{% extends "base.html.twig" %}

{% block stylesheet %}
    <link href="public/theme/css/style.css" rel="stylesheet">
{% endblock %}
{% block title %} Connexion {% endblock %}
{% block description %} Page permettant de s'identifier sur le blog Web-Link {% endblock %}
{% block image %} <img src="public/theme/Web-Link.jpg" alt="Web-Link, le blog d'une développeuse - Image par geralt de pixabay"/>  {% endblock %}
{% block type %} website {% endblock %}
{% block url %} <!-- Site URL to complete : http://www.example.com/--> {% endblock %}
{% block author %}Emilie Schott{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="page-section">
        <div class="container col-8 offset-3">
            <div class="back-content offset-1 bg-faded rounded ">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Mon compte</span>
                    <span class="section-heading-lower">Mes informations</span>
                </h2>
                <ul class="list mb-5 text-left mx-auto">
                    <li class="list-item d-flex">
                        Rôle
                        <span class="ml-auto"> {{ user.role }} </span>
                    </li>
                    <li class="list-item d-flex">
                        Pseudo
                        <span class="ml-auto"> {{ user.pseudo }} </span>
                    </li>
                    <li class="list-item d-flex">
                        Nom
                        <span class="ml-auto"> {{ user.name }} </span>
                    </li>
                    <li class="list-item d-flex">
                        Prénom
                        <span class="ml-auto"> {{ user.firstName }} </span>
                    </li>
                    <li class="list-item d-flex">
                        Email
                        <span class="ml-auto"> {{ user.email }} </span>
                    </li>
                    <li class="list-item d-flex button-list-container">
                        Mot de passe
                        <span class=" ml-auto">
                            <div class="btn btn-primary list-button" >Modifier</div>     
                        </span>
                    </li>
                  </ul>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
