{% extends "base.html.twig" %}

{% block stylesheet %}
    <link href="public/theme/css/style.css" rel="stylesheet">
{% endblock %}
{% block title %} Gérer les billets {% endblock %}
{% block description %} Panneau d'administration permettant d'accéder à la création, suppression ou modification des billets. {% endblock %}
{% block image %}public/theme/Web-Link.jpg{% endblock %}
{% block type %} website {% endblock %}
{% block url %} <!-- Site URL to complete : http://www.example.com/--> {% endblock %}
{% block author %}Emilie Schott{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="page-section">
        <div class="container col-10 col-lg-8  offset-1 offset-lg-3">
            <div class="back-content offset-lg-1 bg-faded rounded" id="list"> 
                {% if success is not empty and success == 1 %} 
                    <div class=" text-center mt-5 mb-2" id="message">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-around">Merci !</span>
                            <span class="section-heading-main">Les données ont bien été enregistrées.</span>
                            <p>
                                Vous pouvez reprendre une activité normale.
                            </p>
                        </h2>
                    </div>
                    <div class="row mb-5">
                        <a class="btn btn-primary btn-xl col-10 col-lg-7 col-xl-6 mx-auto mt-1 mt-md-2 mt-lg-3" href="index.php?action=manageComments">Modifier autre chose ? </a>
                    </div> 
                {% elseif success is not empty and success == 0 %} 
                    <div class=" text-center mt-5 mb-2" id="message">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-around">Un problème est survenu :</span>
                            <span class="section-heading-main"> {% if modificationException is empty %} Les données n'ont pas pu être enregistrée. {% else %} {{ modificationException }} {% endif %} </span>
                            <p>
                                {% if modificationException is empty %} Nous sommes désolés de cet incident. {% else %} La modification n'a pas pu être enregistrée. {% endif %} 
                            </p>
                        </h2>
                    </div>
                    <div class="row">
                        <a class="btn btn-primary btn-xl col-10 col-lg-7 col-xl-6 mx-auto mt-1 mt-md-2 mt-lg-3" href="index.php?action=manageComments">Réessayer ? </a>
                    </div> 
                {% else %}     
                    <div class="row">
                        <div class=" col-12 col-xl-8">
                            <h2 class="section-heading">
                                <span class="section-heading-around">Panneau d'administration</span>
                                <span class="section-heading-main">Gérer les {% if posts is not empty %}billets{% elseif comments is not empty %}commentaires{% elseif users is not empty %}utilisateurs{% endif %} </span>
                            </h2>
                        </div>
                        {% if posts is not empty %}
                        <div class="col-12 col-xl-4 mb-5 mb-xl-0 mt-2">
                            <a class="btn btn-primary btn-xl list-button" href="index.php?action=postFormPage" >Ajouter un billet</a> 
                        </div>
                        {% endif %}
                    </div> 
                    {% if page is not empty or postException is not empty %}
                        {% if invalidPostPage is not empty %}
                            <div class="my-4 d-flex justify-content-center">
                                <div class="comment-inner col-10 col-md-7 p-3 p-md-4 p-lg-4  rounded ">
                                    <h3 class="section-heading">
                                        <span class="section-heading-around text-center" >Un problème est survenu :</span>
                                        <span class="section-heading-main text-center"> {{ invalidPostPage }} </span>
                                        <p class="text-center">
                                            Vous avez été redirigé.
                                        </p>
                                    </h3>
                                </div>
                            </div>
                        {% endif %}
                        <ul class="list text-left mx-auto" id="posts">
                            {% if posts is not empty %}
                                {% for post in posts %}
                                    <li class="list-item d-flex flex-column">

                                            <div>
                                                <h4 class="section-heading">
                                                    <span class="section-heading-main"> {{ post.title }}</span> 
                                                    <span class="section-heading-around">Posté le {{ post.createdAt }} </span>
                                                </h4>
                                                <p> {{ post.standfirst | raw }} </p>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <a class="btn btn-red list-button" href="index.php?action=confirmDeletion&amp;entity=post&amp;id={{ post.id }}" >Supprimer le billet</a> 
                                                </div>
                                                <div class="col-6 text-right">
                                                    <a class="btn btn-primary list-button" href="index.php?action=postFormPage&amp;post={{ post.id }}" >Modifier le billet</a> 
                                                </div>
                                            </div> 

                                    </li>
                                {% endfor %}
                            {% elseif comments is not empty %}
                                {% for comment in comments %}
                                    <li class="list-item d-flex flex-column">

                                            <div>
                                                <h4 class="section-heading">
                                                    <span class="section-heading-around">En réponse au billet :  </span>
                                                    <span class="section-heading-main"> "{{ comment.postTitle }}"</span> 
                                                    <span class="section-heading-around">{{ comment.datas.author }} a écrit, le {{ comment.datas.createdAt }}" :  </span>
                                                </h4>
                                                <p> "{{ comment.datas.content }}" </p>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <a class="btn btn-red list-button mb-3 mb-sm-2 mt-0" href="index.php?action=modifyCommentStatus&amp;status=rejected&amp;id={{ comment.datas.id }}" >Rejeter le commentaire</a> 
                                                </div>
                                                <div class="col-12 col-sm-6 text-sm-right">
                                                    <a class="btn btn-primary list-button mb-3 mb-sm-2 mt-0" href="index.php?action=modifyCommentStatus&amp;status=validated&amp;id={{ comment.datas.id }}" >Valider le commentaire</a> 
                                                </div>
                                            </div> 

                                    </li>
                                {% endfor %}
                            {% elseif users is not empty %}
                                {% for user in users %}
                                    <li class="list-item d-flex flex-column">
                                        <div class="col-12 admin-group text-center">
                                            <ul class="pl-0 px-1">
                                                <li class="list-item d-flex">
                                                    Rôle :
                                                    <span class="ml-auto"> {{ user.role }} </span>
                                                </li>
                                                <li class="list-item d-flex">
                                                    Pseudo :
                                                    <span class="ml-auto"> {{ user.pseudo }} </span>
                                                </li>
                                                <li class="list-item d-flex">
                                                    Nom :
                                                    <span class="ml-auto"> {{ user.name }} </span>
                                                </li>
                                                <li class="list-item d-flex">
                                                    Prénom :
                                                    <span class="ml-auto"> {{ user.firstName }} </span>
                                                </li>
                                                <li class="list-item d-flex">
                                                    Email :
                                                    <span class="ml-auto"> {{ user.email }}</span>
                                                </li>
                                                <div class="row pl-0">
                                                    <div class="col-12 col-sm-6 text-left">
                                                        <a class="btn btn-red list-button mb-1 mb-sm-2 mt-2 px-5 px-sm-2" href="index.php?action=confirmDeletion&amp;entity=user&amp;pseudo={{ user.pseudo }}" >Supprimer l'utilisateur</a> 
                                                    </div>
                                                    <div class="col-12 col-sm-6 text-right">
                                                        <a class="btn btn-primary list-button mb-1 mb-sm-2 mt-2" href="index.php?action=modifyDatas&amp;pseudo={{ user.pseudo }}" >Modifier les informations</a> 
                                                    </div>
                                                </div> 
                                            </ul>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        {% if exceptionMessage is not empty %}
                            <div class="my-4 d-flex justify-content-center">
                                <div class="comment-inner col-10 col-md-7 p-3 p-md-4 p-lg-4  rounded ">
                                    <h3 class="section-heading">
                                        <span class="section-heading-around text-center" > Un problème est survenu :</span>
                                        <span class="section-heading-main text-center"> {{ exceptionMessage }} </span>
                                        <p class="text-center">
                                            Nous sommes désolés de cet incident.
                                        </p>
                                    </h3>
                                </div>
                            </div>
                        {% endif %}
                        {% if pagesNumber is not empty %}
                            <div class="container text-center pt-4 pt-lg-5">           
                                <div class=" back text-center d-inline-flex">
                                    {% if page > 1 %} <a href="index.php?action=manage{% if posts is not empty %}Posts{% elseif comments is not empty %}Comments{% endif %}&amp;page={{ page-1 }}#posts"> {% else  %} {% endif  %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50">
                                            <g>
                                                <path class="{% if page > 1 %} contour {% else  %} disable-contour {% endif  %}" d="M48.1 44.75c0 1.9-1.6 3.4-3.399 3.4H5.3c-1.9 0-3.4-1.6-3.4-3.4V5.25c0-1.9 1.6-3.4 3.399-3.4h39.4c1.899 0 3.399 1.601 3.399 3.4v39.5z" 
                                                stroke-width="2.772" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/>
                                                <path class="{% if page > 1 %} intern {% else  %} disable-intern {% endif  %}" d="M23.996 23.129l8.978-8.975a2.643 2.643 0 113.739 3.739L29.607 25l7.105 7.105a2.644 2.644 0 11-3.739 3.74l-8.978-8.976a2.647 2.647 0 01.001-3.74z"/>
                                                <path class="{% if page > 1 %} intern {% else  %} disable-intern {% endif  %}" d="M13.286 23.129l8.975-8.975a2.645 2.645 0 013.741 3.739L18.897 25l7.104 7.105a2.644 2.644 0 11-3.741 3.74l-8.975-8.976a2.647 2.647 0 01.001-3.74z"/>
                                            </g>
                                        </svg>
                                        {% if page > 1 %} </a> {% else  %} {% endif  %}

                                    <div class="page-number mx-3 mt-2 mt-lg-1">{{ page }} / {{ pagesNumber }}</div>

                                    {% if page < pagesNumber %} <a href="index.php?action=manage{% if posts is not empty %}Posts{% elseif comments is not empty %}Comments{% endif %}&amp;page={{ page+1 }}#posts"> {% else  %} {% endif  %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50">
                                            <g>
                                                <path class="{% if page < pagesNumber %} contour {% else  %} disable-contour {% endif  %}"  d="M48.1 44.75c0 1.9-1.6 3.4-3.399 3.4H5.3c-1.9 0-3.4-1.6-3.4-3.4V5.25c0-1.9 1.6-3.4 3.399-3.4h39.4c1.899 0 3.399 1.601 3.399 3.4v39.5z" 
                                                stroke-width="2.772" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/>
                                                <path class="{% if page < pagesNumber %} intern {% else  %} disable-intern {% endif  %}" d="M26.004 23.129l-8.978-8.975a2.643 2.643 0 10-3.739 3.739L20.393 25l-7.105 7.105a2.644 2.644 0 103.739 3.74l8.978-8.976a2.647 2.647 0 00-.001-3.74z"/>
                                                <path class="{% if page < pagesNumber %} intern {% else  %} disable-intern {% endif  %}" d="M36.714 23.129l-8.975-8.975a2.645 2.645 0 00-3.741 3.739L31.103 25l-7.104 7.105a2.644 2.644 0 103.741 3.74l8.975-8.976a2.647 2.647 0 00-.001-3.74z"/>
                                            </g>
                                        </svg>
                                    {% if page < pagesNumber %} </a> {% else  %} {% endif  %}
                                </div>
                            </div>
                        {% endif %}    
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
