{% extends "base.html.twig" %}

{% block stylesheet %}
    <link href="public/theme/css/style.css" rel="stylesheet">
{% endblock %}
{% block title %} {% if post is not empty %} Modifier {% else %} Créer {% endif %} un billet {% endblock %}
{% block description %} Panneau d'administration permettant de {% if post is not empty %} Modifier {% else %} Créer {% endif %} un billet. {% endblock %}
{% block image %} <img src="public/theme/Web-Link.jpg" alt="Web-Link, le blog d'une développeuse - Image par geralt de pixabay"/> {% endblock %}
{% block type %} website {% endblock %}
{% block url %} <!-- Site URL to complete : http://www.example.com/--> {% endblock %}
{% block author %}Emilie Schott{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <section class="page-section">
        <div class="container col-12 col-lg-8 offset-lg-3">
            <div class="back-content offset-lg-1 bg-faded rounded " id="form">
                {% if success is not empty and success == 1 %} 
                    <div class=" text-center mt-5 mb-2" id="message">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-around">Merci !</span>
                            <span class="section-heading-main">Le billet a bien été enregistrée.</span>
                            <p>
                                Vous pouvez reprendre une activité normale.
                            </p>
                        </h2>
                    </div>
                    <div class="row mb-5">
                        <a class="btn btn-primary btn-xl col-10 col-lg-7 col-xl-6 mx-auto mt-1 mt-md-2 mt-lg-3" href="index.php?action=managePosts">Revenir à la page "gérer les billets". </a>
                    </div> 
                {% elseif success is not empty and success == 0 %} 
                    <div class=" text-center mt-5 mb-2" id="message">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-around">Un problème est survenu :</span>
                            <span class="section-heading-main">{% if exceptionMessage is empty %} Le billet n'a pas pu être enregistrée. {% else %} {{ exceptionMessage }} {% endif %}.</span>
                            <p>
                                {% if exceptionMessage is empty %} Nous sommes désolés de cet incident. {% else %} Le billet n'a pas pu être enregistrée.{% endif %} 
                            </p>
                        </h2>
                    </div>
                    <div class="row">
                        <a class="btn btn-primary btn-xl col-10 col-lg-7 col-xl-6 mx-auto mt-1 mt-md-2 mt-lg-3" href="index.php?action=managePosts">Revenir à la page "gérer les billets". </a>
                    </div> 
                {% else %}
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-around">Panneau d'administration</span>
                        <span class="section-heading-main">{% if post is not empty %} Modifier {% else %} Créer {% endif %} un billet</span>
                    </h2>
                    <form name="sentPost" id="postForm" action="index.php?action=sendPostForm" method="post" class="px-2" enctype="multipart/form-data">
                        {% if post is not empty %}<input type="hidden" name="postId" value="{{ post.id }}"/>{% else %}{% endif %}
                        <div class="row">
                            <div class="form-group col-xl-12 mx-auto col-xs-11  {% if post is not empty %} visible-label-form-group {% else %} floating-label-form-group  {% endif %} controls admin-field">
                                <label>Titre :</label>
                                <input  class="form-control" {% if post is not empty %} value="{{ post.title }}" {% else %}  {% endif %} placeholder="Donnez un titre au billet" name="title" id="title" required data-validation-required-message="Entrez un titre, s'il vous plait." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="form-group col-12 mx-auto  {% if post is not empty %} visible-label-form-group {% else %} floating-label-form-group  {% endif %} controls admin-field">
                                <label >Auteur :</label>
                                <input  class="form-control" {% if post is not empty %} value="{{ post.author }}" {% else %}  {% endif %} placeholder="Qui est l'auteur du billet ?" name="author" id="author" required data-validation-required-message="Entrez un auteur, s'il vous plait." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-12 pl-0 mb-0 admin-field">
                                <div class="form-group col-12 mx-auto visible-label-form-group controls ">
                                    <label >Image :{% if post is not empty %} {{ post.picture }} {% else %}{% endif %}</label>
                                    {% if post is not empty %}<img class="post-item-img img-fluid rounded  mx-auto d-flex mb-lg-0" src="public/upload/img/post/{{ post.picture }}" alt="{{ post.pictureDescription }}"> {% else %}{% endif %}
                                    {% if post is not empty %}<input type="hidden" class="form-control" value="{{ post.picture }}" name="oldPicture" id="oldPicture"> {% else %}{% endif %} 
                                    {% if post is not empty %} <br><label>Si vous souhaitez remplacez l'image :</label> {% else %}{% endif %}
                                    <input type="file" class="form-control" placeholder="Téléversez une image" name="newPicture" id="newPicture" {% if post is not empty %} {% else %} required data-validation-required-message="Téléverser une image, s'il vous plait."{% endif %} > 
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group col-12 mx-auto   {% if post is not empty %} visible-label-form-group {% else %} floating-label-form-group  {% endif %} controls ">
                                    <label >Description de l'image :</label>
                                    <textarea rows="3" class="form-control" placeholder="Décrivez l'image avec maximum 250 caractères." name="pictureDescription" id="pictureDescription" 
                                    required data-validation-required-message="Entrez une description à l'image, s'il vous plait." >{% if post is not empty %} {{ post.pictureDescription }} {% else %}{% endif %}</textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>   
                        <div class="row">
                            <div class="form-group col-12 mx-auto  {% if post is not empty %} visible-label-form-group {% else %} floating-label-form-group  {% endif %} controls admin-field">
                                <label >Chapô :</label>
                                <textarea rows="5"  class="form-control"  
                                placeholder="Ecrivez un chapô (texte de présentation) à votre billet. Il sera affiché en gras au dessus de celui-ci et sera visible sur la page d'index du blog." 
                                name="standfirst" id="standfirst" 
                                required data-validation-required-message="Entrez un chapô s'il vous plait.">{% if post is not empty %} {{ post.standfirst }} {% else %}{% endif %}</textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>   
                        <div class="row">
                            <div class="form-group col-12 mx-auto {% if post is not empty %} visible-label-form-group {% else %} floating-label-form-group  {% endif %} controls admin-field">
                                <label>Contenu :</label>
                                <textarea 
                                    rows="30" class="form-control" placeholder="Ecrivez le contenu de votre billet." name="content" id="content" 
                                    required data-validation-required-message="Tapez un contenu, s'il vous plait.">{% if post is not empty %} {{ post.content }} {% else %}{% endif %}</textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>    
                        <div class="row mt-3 mt-lg-1 mt-xl-4">
                            <button type="submit" class="btn btn-primary btn-xl col-10 col-lg-7 col-xl-6 mx-auto mt-1 mt-md-2 mt-lg-3">Envoyer</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
