<!DOCTYPE html>
<html>

    <head>
        {% block head %}
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <title>{{ block('title') }} - Blog Web-Link</title>
            <meta name="author" content="{{ block('author') }}">
            <meta name="description" content="{{ block('description') }}." /> <!--  No longer than 155 characters. -->
            <!-- avoid viewport dezoom for mobile browser : -->
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >

            <!-- Bootstrap CSS -->
            <link href="public/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
            <!-- Stylesheet CSS -->
            {{ block('stylesheet') }}

            <!-- Social Media : -->
            <!-- Schema.org markup for Google+ -->
            <meta itemprop="name" content="{{ block('title') }}">
            <meta itemprop="description" content="{{ block('description') }}">
            <meta itemprop="image" content="{{ block('image') }}">

            <!-- Twitter Card data -->
            <!-- Obligatoire : -->
            <meta name="twitter:card" content="{{ block('description') }}">
            <!-- Conseillé : -->
            <meta name="twitter:site" content="{{ block('author') }}">
            <meta name="twitter:title" content="{{ block('title') }}">
            <!-- Twitter summary card with large image must be at least 280x200px -->
            <meta name="twitter:image" content="{{ block('image') }}">

            <!-- Facebook : Open Graph data -->
            <!-- Obligatoire : -->
            <meta property="og:title" content="{{ block('title') }}" />
            <meta property="og:type" content="{{ block('type') }}" /> <!-- article ou website -->
            <meta property="og:url" content="{{ block('url') }}" /> <!-- http://www.example.com/ -->
            <meta property="og:image" content="{{ block('image') }}" />
            <meta property="og:description" content="{{ block('description') }}" />

            <!-- Custom fonts for this template -->
           <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">             
        {% endblock %}
    </head>

    <body>
        <header>
            {% block header %}
                <h1 class="site-heading text-center text-white">
                    <span class="site-heading-upper mb-3">Le blog d'une développeuse</span>
                    <span class="site-heading-lower">Web-Link</span>
                </h1>

                <!-- Navigation -->
                <nav class="navbar navbar-expand-lg navbar-dark py-lg-3" id="mainNav">
                    <div class="container">
                       <!-- <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start
                            Bootstrap</a> -->
                        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item px-lg-4 {% if action == 'homePage' %} active {% else %} {% endif %} ">
                                    <a class="nav-link text-uppercase text-expanded" href="index.php">A propos...
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item px-lg-4  {% if action == 'blog' %} active {% else %} {% endif %}">
                                    <a class="nav-link text-uppercase text-expanded" href="index.php?action=blog&amp;page=1">Blog</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}
        </header>

        <div id="content">
            {{ block('content') }}
        </div>

        <footer>
            {% block footer %}
            <div class="container">
                <p class="m-0 small">Thème "Business Casual" par startbootstrap.com - Copyright &copy; Emilie Schott 2021</p>
            </div>
            {% endblock %}
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="public/theme/vendor/jquery/jquery.min.js"></script>
        <script src="public/theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>

</html>